.table-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  flex-direction: column;

  .custom-table{
    width: 80%;
    margin-top: 1%;
  }
}

.settings{
  display: flex;
  flex-direction: row;
  gap: 8%;
  cursor: pointer;
}

.add-patient{
  width: auto;
  height: auto;
  background: #9ca1c4;
  border: 1px solid #9ca1c4;
  color: #1c1e37;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.add-patient:hover{
  border: 1px solid #9ca1c4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.search{
  width: 100%;
  display: flex;
  justify-content: center;

  mat-form-field{
    width: 35%;
  }
}

mat-form-field img[matPrefix] {
  vertical-align: middle;
  margin-top: 4px;
}

.input-search{
  display: flex
;
  flex-direction: row;
  gap: 38%;
}

.element{
  cursor:pointer
}

a{
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
@keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 5px 2px rgba(79, 70, 229, 0.5);
  }
  50% {
    box-shadow: 0 0 10px 4px rgba(79, 70, 229, 1);
  }
}

input[matInput] {
  animation: pulseGlow 2s infinite;
  border-color: #4f46e5;
}

.table{
  width: 80%;
}
