<div class="h-24"></div>

<div class="accordion-wrapper">

  <div class="patient-info-card">
    <h2>🏥 Medical Referrals</h2>
    <div class="patient-info">
      <p><strong>Full Name:</strong> {{ patient.firstName }} {{ patient.lastName }}</p>
      <p><strong>Sex:</strong> {{ patient.sex }}</p>
      <p><strong>CNP:</strong> {{ patient.cnp }}</p>
    </div>
  </div>

  <h3>In Progress Referrals</h3>
  <ng-container *ngIf="inProgressReferrals.length > 0; else noInProgress">
    <mat-expansion-panel *ngFor="let referral of inProgressReferrals">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="referral-id-badge">#{{ referral.id }}</span>
          <span class="referral-type-label">{{ getReferralTypeLabel(referral.type) }}</span>
        </mat-panel-title>
        <mat-panel-description>
          <button mat-icon-button (click)="enableEdit(referral); $event.stopPropagation()" *ngIf="!editingReferrals[referral.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="cancelEdit(referral.id); $event.stopPropagation()" *ngIf="editingReferrals[referral.id]">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="exportReferralToPdf(referral); $event.stopPropagation()" title="Export as PDF">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section #referralRef *ngIf="!editingReferrals[referral.id]">
        <p><strong>From Doctor:</strong> {{ referral.fromDoctor.firstName }} {{ referral.fromDoctor.lastName }}</p>
        <p><strong>To Doctor:</strong> {{ referral.toDoctor?.firstName }} {{ referral.toDoctor?.lastName }}</p>
        <p><strong>Type:</strong> {{ getReferralTypeLabel(referral.type) }}</p>
        <p><strong>Reason:</strong> {{ referral.reason }}</p>
        <p><strong>Created at:</strong> {{ referral.createdAt | date }}</p>
        <mat-expansion-panel-header>
          <mat-panel-description class="panel-description-right">
            <div class="status-badge" [ngClass]="referral.isResolved ? 'resolved' : 'pending'">
              <mat-icon class="status-icon">
                {{ referral.isResolved ? 'check_circle' : 'schedule' }}
              </mat-icon>
              <span>{{ referral.isResolved ? 'Resolved' : 'Pending' }}</span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </section>

      <form *ngIf="editingReferrals[referral.id]"
            [formGroup]="editForms[referral.id]"
            (ngSubmit)="saveEdit(referral)"
            class="section grid-form">

        <div class="form-group full-width from-doctor">
          <p><strong>From Doctor:</strong> {{ referral.fromDoctor.firstName }} {{ referral.fromDoctor.lastName }}</p>
        </div>

        <div class="form-group">
          <label>To Doctor*</label>
          <select formControlName="toDoctor" class="w-full">
            <option *ngFor="let doc of availableDoctors" [value]="doc.id">
              {{ doc.firstName }} {{ doc.lastName }} {{doc.id}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Type*</label>
          <select formControlName="type" class="w-full">
            <option *ngFor="let type of referralTypes" [value]="type">
              {{ getReferralTypeLabel(type) }}
            </option>
          </select>
        </div>

        <div class="form-group full-width">
          <label>Reason*</label>
          <textarea formControlName="reason" rows="3" class="w-full"></textarea>
        </div>


        <div class="form-group resolved-checkbox full-width">
          <label class="toggle-switch">
            <input type="checkbox" formControlName="isResolved" />
            <span class="slider"></span>
            Mark as Resolved
          </label>
        </div>

        <div class="flex justify-end mt-4 full-width">
          <button mat-flat-button color="primary" type="submit" [disabled]="editForms[referral.id].invalid">
            💾 Save Changes
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </ng-container>
  <ng-template #noInProgress>
    <mat-expansion-panel disabled>
      <mat-expansion-panel-header>
        <mat-panel-title>No In Progress Referrals</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="p-4 text-center">
        <p>There are currently no in progress referrals for this patient.</p>
      </div>
    </mat-expansion-panel>
  </ng-template>

  <h3 class="mt-8">Finished Referrals</h3>
  <ng-container *ngIf="finishedReferrals.length > 0; else noFinished">
    <mat-expansion-panel *ngFor="let referral of finishedReferrals">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="referral-id-badge">#{{ referral.id }}</span>
          <span class="referral-type-label">{{ getReferralTypeLabel(referral.type) }}</span>
        </mat-panel-title>
        <mat-panel-description>
          <button mat-icon-button color="primary" (click)="exportReferralToPdf(referral); $event.stopPropagation()" title="Export as PDF">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section #referralRef *ngIf="!editingReferrals[referral.id]">
        <p><strong>From Doctor:</strong> {{ referral.fromDoctor.firstName }} {{ referral.fromDoctor.lastName }}</p>
        <p><strong>To Doctor:</strong> {{ referral.toDoctor?.firstName }} {{ referral.toDoctor?.lastName }}</p>
        <p><strong>Type:</strong> {{ getReferralTypeLabel(referral.type) }}</p>
        <p><strong>Reason:</strong> {{ referral.reason }}</p>
        <p><strong>Created ad:</strong> {{ referral.createdAt | date }}</p>
        <mat-expansion-panel-header>
          <mat-panel-description class="panel-description-right">
            <div class="status-badge" [ngClass]="referral.isResolved ? 'resolved' : 'pending'">
              <mat-icon class="status-icon">
                {{ referral.isResolved ? 'check_circle' : 'schedule' }}
              </mat-icon>
              <span>{{ referral.isResolved ? 'Resolved' : 'Pending' }}</span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </section>

      <form *ngIf="editingReferrals[referral.id]"
            [formGroup]="editForms[referral.id]"
            (ngSubmit)="saveEdit(referral)"
            class="section grid-form">

        <div class="form-group full-width from-doctor">
          <p><strong>From Doctor:</strong> {{ referral.fromDoctor.firstName }} {{ referral.fromDoctor.lastName }}</p>
        </div>

        <div class="form-group">
          <label>To Doctor*</label>
          <select formControlName="toDoctor" class="w-full">
            <option *ngFor="let doc of availableDoctors" [value]="doc.id">
              {{ doc.firstName }} {{ doc.lastName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Type*</label>
          <select formControlName="type" class="w-full">
            <option *ngFor="let type of referralTypes" [value]="type">
              {{ getReferralTypeLabel(type) }}
            </option>
          </select>
        </div>

        <div class="form-group full-width">
          <label>Reason*</label>
          <textarea formControlName="reason" rows="3" class="w-full"></textarea>
        </div>


        <div class="form-group resolved-checkbox full-width">
          <label class="toggle-switch">
            <input type="checkbox" formControlName="isResolved" />
            <span class="slider"></span>
            Mark as Resolved
          </label>
        </div>

        <div class="flex justify-end mt-4 full-width">
          <button mat-flat-button color="primary" type="submit" [disabled]="editForms[referral.id].invalid">
            💾 Save Changes
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </ng-container>
  <ng-template #noFinished>
    <mat-expansion-panel disabled>
      <mat-expansion-panel-header>
        <mat-panel-title>No Finished Referrals</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="p-4 text-center">
        <p>There are currently no finished referrals for this patient.</p>
      </div>
    </mat-expansion-panel>
  </ng-template>

</div>
