<div class="container-fluid d-flex align-items-start mt-5 full-page">
  <video class="logo img-fluid custom-img p-5 m-1"
         src="../assets/presentation-page/tv-img.mp4"
         type="video/mp4"
         loop
         autoplay
         [muted]="true">
  </video>
  <div class="p-2 m-5">
    <h1>Welcome to HeartSync <i class="fa-solid fa-stethoscope px-3" style="color: #c7cdfa;"></i></h1>
    <p class="py-2">Where your heart health is our highest priority. The heart is the most vital organ in your body, working tirelessly every second to supply precious oxygen and nutrients to every cell. At our clinic, we combine advanced diagnostic tools, evidence-based treatments, and compassionate care to ensure your heart receives the attention it deserves.</p>
    <button class="btn-auth pulse-animation" (click)="navigateToAuth()">Connect with us
      <i class="fa-solid fa-hand-holding-heart" style="color: #1a1f38;"></i>
    </button>
  </div>
</div>
<div class="gallery-wrapper">
  <h2 style=" background-color: #9ca1c4; color:#1a1f38" class="m-0 pt-5 pb-0 px-5">Meet the dedicated medical team behind your care:</h2>
  <div class="gallery">
    <div class="gallery-item"><div class="overlay-text">Dr Catalina Mindrut</div><img src="../../assets/presentation-page/catalina.jpg" alt="Drop 1"></div>
    <div class="gallery-item"><div class="overlay-text">Dr Magda Paicu</div><img src="../../assets/presentation-page/magda.jpg" alt="Drop 2"></div>
    <div class="gallery-item"><div class="overlay-text">Dr Luyza Nica</div><img src="../../assets/presentation-page/luyza.jpg" alt="Drop 3"></div>
    <div class="gallery-item"><div class="overlay-text">Dr Ursu Patricia</div><img src="../../assets/presentation-page/patricia.jpg" alt="Drop 4"></div>
    <div class="gallery-item"><div class="overlay-text">Dr Borca Giulia</div><img src="../../assets/presentation-page/giulia.jpg" alt="Drop 5"></div>
    <div class="gallery-item"><div class="overlay-text">Dr Iulia Zbircea</div><img src="../../assets/presentation-page/iulia.jpg" alt="Drop 6"></div>
    <div class="gallery-item"><div class="overlay-text">Dr Pirvan Mihai</div><img src="../../assets/presentation-page/mihai.jpg" alt="Drop 7"></div>
    <div class="gallery-item"><div class="overlay-text">Dr Sirca Radu</div><img src="../../assets/presentation-page/radu.jpg" alt="Drop 8"></div>
  </div>
  <div class="d-flex justify-content-center px-5 pb-5" style=" background-color: #9ca1c4">
    <div class="d-flex justify-content-end align-items-center px-3 pb-0 pt-3 animated-arrow" style="margin-left: 600px;">
      <div style="width: 250px; height: 3px; background-color: #1a1f38;"></div>
      <i class="fa-solid fa-arrow-right" style="color: #1a1f38; font-size: 24px; margin-left: -4px;"></i>
    </div>
    <button class="btn-meet-us" (click)="navigateToAuth()">Meet us
      <i class="fa-solid fa-handshake" style="color: #c7cdfa;"></i>
    </button>
  </div>
</div>
